*{
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;

}

.container{
    width: 100%;
    height: 100vh;
    padding-top: 2%;
    background-color: #e3f9ff;
    display: flex;
    align-items: center;
    justify-content: center;

}

.calculator{
    background-color: #3a4452;
    padding: 20px;
    border-radius: 15px;

}

.calculator form input{
    border: 0;
    outline: 0;
    height: 60px;
    width: 60px;
    border-radius: 10px;
    background: transparent;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    text-decoration: 1px solid blanchedalmond underlines;  
    /* box-shadow: inset 5px 5px 15px 5px rgba(0, 0, 0, 0.3); */
        /* box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3); */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3), -5px -5px 10px rgba(255, 255, 255, 0.5);    
   &:hover{
    font-weight:600;
    
   
   }
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    border: 4px solid #33ffd8;
    border-radius:10px;
    border-style:ridge;    
}

form .display input{
    text-align: right;
    flex-grow: 1;
    font-size: 55px;
    box-shadow:none;
    
    
}


form input.operator{
    
    color: #33ffd8;
&:hover{
    color: rgb(222, 222, 98);
    transition-duration: 1ms;
    font-weight:600;
}
}


form input.equal{
    width: 150px;


}

.brand{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:5vw;
    color: #e3f9ff;
    text-shadow: #e3f9ff;
box-shadow: inset 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
border-radius: 10px;
min-height:fit-content;
}